{% extends 'layout.twig' %}

{% block content %}
    {{ page_content|raw }}
    <h2>Please Login to Begin:</h2>
    <!--
    * Add IMG's of the some of the categories and restaurants in a carousel
    * MAybe change where the Login Button is
    -->

{% endblock %}